{% extends "paciente/dashboard_base.html" %}
{% block content %}
<div class="row mt-4 align-items-center">
  <div class="col-12 col-lg-8 d-flex flex-wrap align-items-center gap-2 mb-3">
    <h2 class="mb-0">¡Bienvenido {{ request.user.nombre }} {{ request.user.apellido }}! </h2>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-lg-end mt-2 mt-lg-0">
    <div class="card shadow-sm p-3 text-center" style="min-width: 180px; width: 200px;">
      <h6>Comunidad</h6>
      <h2 class="mb-0" style="font-weight:bold;">100,353</h2>
      <small class="text-muted">último año</small>
    </div>
  </div>
</div>
<!-- Botones principales -->
<div class="d-flex flex-wrap gap-2 mb-4 mt-2">
  <button class="btn btn-info btn-custom text-white" style="background:#00b8e6;">+ Póliza de seguro medico</button>
  <a href="{% url 'agenda' %}" class="btn btn-danger btn-custom">Cancelar cita</a>
  <a href="{% url 'agendar_cita' %}" class="btn btn-info btn-custom text-white" style="background:#00b8e6;"><b>+ Agendar cita</b></a>
  <div class="dropdown">
    <button class="btn btn-info btn-custom text-white dropdown-toggle" style="background:#0099ff;" type="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      Recetas
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Ver recetas</a></li>
      <li><a class="dropdown-item" href="#">Descargar PDF</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-info btn-custom text-white dropdown-toggle" style="background:#0076b5;" type="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      Cuadro Clinico
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Ver cuadro</a></li>
    </ul>
  </div>
</div>

<div class="row gx-4">
  <!-- Panel derecho: Ranking de Médicos -->
  <div class="col-12 mb-4">
    <div class="card shadow-sm p-3 h-100">
      <h6 class="mb-3" style="font-weight:bold;">Ranking de Medicos</h6>
      <p class="mb-3">Consulta el ranking completo de médicos basado en calificaciones de pacientes.</p>
      <a href="{% url 'ranking_medico' %}" class="btn btn-primary w-100">Ver Ranking Completo</a>
    </div>
  </div>
</div>
{% endblock %}