# Archivos compilados de Python
*.pyc
__pycache__/

# Entorno virtual
env/
venv/
venvjs/

# Base de datos
db.sqlite3

# Variables de entorno
.env
Formato.pdf

# Archivos media (subidos por usuarios)
media/
db.sqlite3db.sqlite3
db_backup.sqlite3

